.about {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.about__title {
  margin-top: 50px;
  margin-bottom: 40px;
}

.about__subtitle {
  margin-top: 40px;
  margin-bottom: 71px;
}

.about__row {
  display: flex;
  flex: 0 1 33.33%;
}

@media screen and (max-width: 600px) {
  .about__row {
    display: block;
    padding: 16px;
  }
}
