.tabs {
  margin-top: 19px;
}

.tabs__items {
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.tabs__item {
  flex: 1 0 33.33%;
  text-align: center;
  font-size: 14px;
  font-family: Open Sans, sans-serif;
  list-style-type: none;
  padding: 19px;
}

.tabs__item:nth-child(1) {
  border-top: 1px solid #c6cbcd;
  border-left: 1px solid #c6cbcd;
  border-right: 1px solid #c6cbcd;
}

.tabs__item:nth-child(2) {
  border-bottom: 1px solid #c6cbcd;
}

.tabs__item:nth-child(3) {
  border-bottom: 1px solid #c6cbcd;
}

.tabs__body {
  background-image: url(/images/background.png);
  background-position: right;
  background-repeat: no-repeat;
  background-size: contain;
  border-bottom: 1px solid #c6cbcd;
  border-left: 1px solid #c6cbcd;
  border-right: 1px solid #c6cbcd;
  padding: 16px;
}

@media screen and (max-width: 1000px) {
  .tabs__body {
    background-size: 50% 100%;
  }
}

@media screen and (max-width: 600px) {
  .tabs__body {
    background: none;
  }
}

.tabs__content {
  display: flex;
  flex-direction: column;
  max-width: 50%;
}

@media screen and (max-width: 600px) {
  .tabs__content {
    display: block;
    text-align: center;
    max-width: 100%;
  }
}

.tabs__title {
  margin-bottom: 27px;
}

@media screen and (max-width: 1000px) {
  .tabs__title {
    font-size: 24px;
    line-height: 33px;
  }
}

.tabs__subtitle {
  margin-bottom: 27px;
}

@media screen and (max-width: 1000px) {
  .row__subtitle {
    font-size: 14px;
    line-height: 16px;
  }
}

.tabs__button {
  color: white;
  margin-bottom: 54px;
}
